---
layout: base
---

.hero-unit.pagination-centered
  %img.pull-right{ :src=>"#{site.base_url}/images/antmascot.png" }
  %h1 Massive storage for your Cloud.
  %h4 GlusterFS is a networked, scalable filesystem capable of handling thousands of users
.row
  .span4 
    %h2 Scalability
    %p 72 brontobytes likely won't be enough for everyone, but it should do for a while. Gluster serves thousands of clients on streaming media, cloud computing and other large installations, without a hitch.
    %p
      %a{ :href=>"#{site.base_url}/scalable/" } &raquo; How big is your need?
  .span4
    %h2 Open Standards
    %p Hook up Windows, Mac and Linux users as well as servers running common applications over any standard IP network. Gluster runs on 64-bit x86 Linux, which supports a wide range of hardware off the shelf. Get started quick and expand as your needs grow.
    %p
      %a{ :href=>"#{site.base_url}/standards/" } &raquo; Technical details
  .span4
    %h2 Open Development
    %p Gluster is being developed and used by a community of people like you. Help us make it even better!
    %p
      %a{ :href=>"#{site.base_url}/interact/" } &raquo; Find your way to the community!
.hero-unit
  %h2.pagination-centered 
    %a{ :href=>"#{site.base_url}/quickstart/index.html" } Get started! Read the Quick Start Guide!
