- wrap_layout :layout do
  .row
    .col-md-8
      = yield
    .col-md-4
      .panel.pull-right.panel-primary
        .panel-heading
          %h4.panel-title Documentation
        .panel-body
          %ul.nav(role="navigation")
            - data['documentation'].each do |item|
              - if item.is_a?(String)
                -#%p.nav-text= item.parameterize
              - elsif item.count == 1        
                - item.each do |text, link|
                  - if link
                    %li= link_to text, link, class: 'nav-' + text.parameterize
                  - else
                    -#%p.nav-text{class: text.parameterize}= text
              - else
                %li.category
                  %h4
                    %a(href="#{item.first[1] || '#'}" class="#{item.first[0].parameterize}")
                    = item.first[0]
                  %ul.nav
                    - item.each do |text, link|
                      - unless text == item.first[0]
                        %li= link_to text, link, class: 'nav-' + text.parameterize
