!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  -# set a class to body element so we can match active page with CSS hilight!
  %body{ :id=>"#{page.navigation}" }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{:type=>'text/javascript', 
      :src=>"#{site.base_url}/javascripts/jquery.backstretch.min.js"}
    = partial( 'navbar.html.haml' )
    .container#main
      .row
        .span3
          = partial( 'documentation-index.html.haml' )
        .span9#documentationpage
          ~ content
    .antsmarching
      &nbsp;
    %footer
      .container
        .row
          .span12.pagination-centered
            %p <small> &copy; #{Date.today.year} Red Hat, Inc. All Rights Reserved | <a href="#{site.base_url}/legal/">Legal & Privacy</a> </small>

:javascript
  $("body").backstretch("#{site.base_url}/images/cloud_bg.jpeg");

