!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/jquery.backstretch.min.js"}
  -# set a class to body element so we can match active page with CSS hilight!
  %body{ :id=>"#{page.navigation}" }
    #wrap
      =partial ( 'navbar.html.haml' )
      .container#main
        .container-fluid
          .row-fluid
            .span7
              ~ content
            .span5.side-index.well-large
              =partial ( 'documentation-index.html.haml' )
    #footer
      .container.pagination-centered
        %small 
          &copy; 2013 Red Hat, Inc. All Rights Reserved | 
          %a{ :href => "https://forge.gluster.org/gluster-site/gluster-site/blobs/raw/master/_site/legal/" } Legal & Privacy
%script
  $("body").backstretch("https://forge.gluster.org/gluster-site/gluster-site/blobs/raw/master/_site/images/cloud_bg.jpeg");
